# NIDJ JUICE - CLOUDINARY CONFIGURATION
# Renseignez votre Cloud Name et votre Upload Preset non-signé (Unsigned)
# Ces valeurs peuvent également être configurées directement dans le Backoffice (Onglet Paramètres)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
